<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true">
    <coverage>
       <include>
           <directory>./Inpsyde</directory>
       </include>
    </coverage>
    <testsuites>
        <testsuite name="fixtures">
            <file>tests/cases/FixturesTest.php</file>
        </testsuite>
        <testsuite name="helpers">
            <directory>tests/cases/Helpers</directory>
        </testsuite>
    </testsuites>
</phpunit>
